@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: ;
  gap: 1px 1px;
  grid-template-areas: "Left Left  center center center center center center center Right Right ";
}

.left {
  grid-area: Left;
  background-color: #fff;
}

.right {
  grid-area: Right;
  background-color: #fff;
}

.center {
  grid-area: center;
  background: #f5f5f5;
  padding: 2%;
  margin: 0 auto;
  width: 96%;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19b0b8;
}

iframe {
  height: 100vh;
  width: 100%;
  border: 1px solid;
}
.cv-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

iframe {
  display: none;
}
p {
  margin: 0;
}

img.cv_img {
  width: 150px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.all_cv {
  padding: 20px;
}
.edu_sort {
  padding: 10px 8px;
  background: powderblue;
  border-radius: 5px;
  margin-bottom: 10px;
}
.edu_sort h4 {
  font-weight: 400;
}
.edu_sort p {
  font-weight: 300;
}
