@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b {
  line-height: 1.6;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: ;
  gap: 1px 1px;
  grid-template-areas: "Left Left  center center center center center center center Right Right ";
}

.left {
  grid-area: Left;
  background-color: #fff;
}

.right {
  grid-area: Right;
  background-color: #fff;
}

.center {
  grid-area: center;
  background: #f5f5f5;
  padding: 2%;
  margin: 0 auto;
  width: 96%;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19b0b8;
}

iframe {
  height: 100vh;
  width: 100%;
  border: 1px solid;
}
.cv-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

iframe {
  display: none;
}
p {
  margin: 0;
}

img.cv_img {
  width: 150px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.all_cv {
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 23%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
.edu_sort {
  padding: 10px 8px;
  background: powderblue;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: url("https://img.icons8.com/plasticine/40/000000/delete-forever.png"),
    auto;
}
.edu_sort h4 {
  font-weight: 400;
}
.edu_sort p {
  font-weight: 300;
  word-break: break-all;
  width: 170px;
}
img.icon_img {
  width: 45px;
  display: flex;
  float: right;
  margin-right: 20px;
}
img.printer_img {
  position: fixed;
  top: 50%;
  left: 46%;
  margin-top: -50px;
  margin-left: -46px;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  z-index: 99;
  cursor: url("https://img.icons8.com/plasticine/30/000000/print.png"), auto;
}
li {
  background: cadetblue;
}

p {
  word-break: break-all !important;
  font-size: 15px !important;
}

.rightScreen,
.leftScreen,
.topScreen,
.arro_img {
  display: none;
  z-index: 999;
}

@media screen and (max-width: 769px) {
  .gridContainer {
    display: block;
  }
  .left {
    display: none;
    width: 0px;
  }
  .right {
    display: none;
    width: 0px;
  }
  img.printer_img {
    left: 50%;
    margin-left: -50px;
  } /* media */
  .leftScreen {
    position: fixed;
    background: antiquewhite;
    height: 80px;
    width: 40px;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    left: 0;
  }
  .rightScreen {
    position: fixed;
    background: antiquewhite;
    height: 80px;
    width: 40px;
    top: 80%;
    margin-top: -50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    right: 0;
  }

  .arro_img {
    width: 30px;
    display: block;
  }
  .leftOpen .Style_left__3bS6I {
    width: 0%;
    transition: 1s all;
  }
}
@media screen and (max-width: 426px) {
  .profile_img {
    width: 100px !important;
    height: 100px !important;
  }
  .all_cv {
    display: block;
  }
}
@media screen and (max-width: 1025px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Left Left Left center center center center center center center Right Right ";
  }
  img.cv_img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .all_cv {
    width: unset;
    display: block;
  }
  img.icon_img {
    width: 45px;
    display: flex;
    float: right;
    margin-right: 20px;
    display: block;
    float: none;
    margin-bottom: 20px;
  }
}

.leftOpen {
  display: block;
  position: unset;
}
.leftOpen input,
.leftOpen textarea {
  width: 98% !important;
}
.leftOpen input[type="submit"],
.leftOpen select {
  width: 100% !important;
}
.leftOpen .Style_left__3bS6I {
  width: 80%;
  transition: 1s all;
}
.leftOpen .leftScreen {
  left: 82.5%;
}
.rightOpen {
  display: block;
  width: 500px !important;
}
.rightOpen .all_cv {
  position: fixed;
  top: 0;
  left: 30%;
  text-align: center;
  right: 0;
}
.rightOpen img.cv_img {
  width: 150px;
}
.rightOpen .rightScreen {
  left: 25%;
}
img.cv_img.active {
  border: 2px solid green;
}
