.left {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  position: fixed;
}
ul.left_list {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.left_list li {
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}
.active {
  background: #4a5568;
  color: white;
}
.from {
  width: 100%;
}
.fromGroup {
  margin: 10px 0px;
}
.fromGroup input,
.fromGroup textarea,
.fromGroup select {
  background: whitesmoke;
  border: 0;
  padding: 10px 5px;
  display: block;
  border-radius: 5px;
  resize: none;
  width: 180px;
}
.fromGroup select {
  width: 190px;
}
.fromGroup input[type="submit"] {
  background: #18afb7;
  color: white;
  width: 100%;
}
.fromGroup input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}
